lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store

pids
logs
results

npm-debug.log
node_modules

.project
.settings

.adn

# If your local DB info is different for you machine, you
# can add a test/helpers/local_config.js with your local settings.
# but we don't track it in github:
test/helpers/local_config.js
