language: node_js
node_js:
- "0.12"

machine:
  services:
    - docker

dependencies:
  override:
    - sudo pip install --upgrade docker-compose==1.3.3

deployment:
  hub:
    branch: master
    commands:
      - $DEPLOY

sudo: false

before_script:
- mysql -hlocalhost -P3306 -e 'create database test_site;'
- echo "USE mysql;\nUPDATE user SET password=PASSWORD('root') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
- mysql -hlocalhost -P3306 -uroot -p'root' test_site < test/setup/setup_mysql.sql
