<ul class="nav nav-tabs webix-crud-tabs" role="tablist" appdev-crud="tabs">
  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%= ControllerName %></a></li>
</ul>
<div class="tab-content" appdev-crud="content">
	<div role="tabpanel" class="tab-pane active" id="home" >Content for <%= ControllerName %></div>
</div>