<!DOCTYPE html>
<html>
<!--

    Client side unit tests for the <%= name %> application, via mocha-phantomjs.

    Node.js module dependencies:
        mocha
        chai

    USAGE:
        mocha-phantomjs test-all.html
        (also manually viewable in a web browser)

-->
<head>
    <title><%= name %> Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../<%= pathAdj %>/../node_modules/mocha/mocha.css" />
    <script src="../<%= pathAdj %>/../node_modules/mocha/mocha.js"></script>
    <script src="../<%= pathAdj %>/../node_modules/chai/chai.js"></script>
    <script src="../<%= pathAdj %>/../../../assets/js/jquery.min.js"></script>
</head>
<body>
    <div id="mocha"></div>
    <script src="../<%= pathAdj %>/../../../assets/steal/steal.js?<%= name %>/tests/test_all_loader.js"></script>
</body>
</html>
