<div class="panel panel-default">
    <div class="panel-heading">
        <a class="ad-item-add btn btn-default" href="#">Add</a>
        <a class="ad-item-delete btn btn-default" style="float:right" href="#">Delete</a>
    </div>
    <div class="panel-body">
        <div class="well" >Content for <%= ControllerName %></div>
    </div>
</div>